{% extends 'presentation/presentation.html.twig' %}

{% block titleSidenav %}
        {{ BaseDefense.BaseDefense }}
{% endblock %}

{% block sideNav %}
    <li class="sideNavItem">
        <a href="" class="">Accueil </a>
    </li>
{% endblock %}

{% block titleBody %}
    <h1 class="titleBody">Base de défense</h1>
{% endblock %}


{% block PresentationCardBody %}
    <h3 class="card-title">
        {{ BaseDefense.BaseDefense }}
        <i class="fas fa-id-card"></i>
    </h3>
    <ul class="card-text">
        <li>RFZ : {{ BaseDefense.IdRfz.rfz }}</li>
    </ul>
{% endblock %}

{% block titleChild %}
    <h1 class="titleChild">Quartiers</h1>
{% endblock %}

{% block Child %}
    {% for Quartier in Quartiers %}
        <div class="col-4">
            <a href="{{ path ('Quartier', {trigramme: Quartier.trigramme, BaseDefense: BaseDefense.idBaseDefense}) }}">
                {{ Quartier.trigramme }} - {{ Quartier.quartier }}
            </a>
        </div>
    {% endfor %}
{% endblock %}


