{% extends 'presentation/presentation.html.twig' %}

{% block titleSidenav %}
    {% if Quartier.quartier %}
        Quartier{{ Quartier.quartier }}
    {% else %}
        {{ Quartier.trigramme }}
    {% endif %}
{% endblock %}

{% block sideNav %}
    <li class="sideNavItem">
        <a href="" class="">Accueil </a>
    </li>
{% endblock %}

{% block titleBody %}
    <h1 class="titleBody">Quartiers</h1>
{% endblock %}


{% block PresentationCardBody %}
    <h3 class="card-title">
        {% if Quartier.quartier %}
            Quartier{{ Quartier.quartier }}
        {% else %}
            {{ Quartier.trigramme }}
        {% endif %}
        <i class="fas fa-id-card"></i>
    </h3>
    <ul class="card-text">
        <li>RFZ : {{ Quartier.IdBaseDefense.IdRfz.rfz }}</li>
        <li>Base de défense : {{ Quartier.IdBaseDefense.baseDefense }}</li>
        <li>Trigramme : {{ Quartier.IdBaseDefense.baseDefense }}</li>
        <li>Nom du quartier :
            {% if Quartier.quartier %}
                {{ Quartier.quartier }}
            {% else %}
                non renseigné
            {% endif %}
        </li>
        <li>Adresse : {{ Quartier.adresseQuartier }}</li>
    </ul>
{% endblock %}

{% block titleChild %}
    <h1 class="titleChild">Organismes</h1>
{% endblock %}

{% block Child %}
    {% for organisme in Organismes %}
        <div class="col-4">
            <a href=""> {{ organisme.organisme }} </a>
        </div>
    {% endfor %}
{% endblock %}