{% extends 'gestion/gestionEntity.html.twig' %}

{% block styleGestionEntity %}
    {{ encore_entry_link_tags('gestionEntity') }}
    {{ encore_entry_link_tags('cards') }}
{% endblock %}

{% block javascriptGestionEntity %}

{% endblock %}

{% block FormFilterGestionEntity %}
    {% include 'gestion/modip/formFilterModip.html.twig' with {Quartiers: Quartiers, Organismes: Organismes, form: form} only %}
{% endblock %}

{% block ContentGestionEntity %}


    <div class="js-filter-sorting sorting">
        {{ knp_pagination_sortable(Modips, 'Montant', 'a.montantAffaire') }}
        {{ knp_pagination_sortable(Modips, 'Date de modification', 'a.updateAt') }}
    </div>

    <div class="row">
        <div class="js-filter-content">
            <div class="row">
                {% for Modip in Modips %}
                    {% include 'gestion/modip/card.html.twig' with {Modip: Modip, Organismes: Organismes, Febs: Febs, GrandComptes: GrandComptes, Prios: Prios} only%}
                {% endfor %}
            </div>
        </div>
    </div>

    {# display navigation #}
    <div class="navigation js-filter-pagination">

    </div>

    <!-- Modals new modip-->
    <!-- First modal dialog create-->
    <div class="modal fade" id="modal" data-bs-focus="true" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="modalLabel">Nouveau MODIP :</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="modipFormCreate" action="{{ path ('Admin_Modip_New')}}" method="post" class="js-Ajax-form">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modip" name="modip" placeholder="name@example.com">
                            <label for="modip">Nom du projet</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="objectif" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Commentaire</label>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <select class="form-select mb-3" aria-label="Default select example" name="feb" autocomplete="off">
                                    <option selected>FEB associée</option>
                                    {% for Feb in Febs %}
                                        <option value="{{ Feb.idFeb }}">{{ Feb.numFeb }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4">
                                <select class="form-select mb-3" aria-label="Default select example" name="grandCompte" autocomplete="off">
                                    <option selected>Grand compte</option>
                                    {% for GrandCompte in GrandComptes %}
                                        <option value="{{ GrandCompte.idGrandsComptes }}">{{ GrandCompte.GrandsComptes }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4">
                                <div class="form mb-3">
                                    <input type="number" class="form-control" id="montant" name="montant" placeholder="Montant">
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modip" name="montantInfo" placeholder="name@example.com">
                            <label for="modip">Info sur le montant</label>
                        </div>
                        <select data-placeholder="Organisme" multiple class="chosen-select mb-3" tabindex="8" name="organisme[]" autocomplete="off">
                            {% for Organisme in Organismes %}
                                <option value="{{ Organisme.idOrganisme }}">{{ Organisme.Organisme }} - {{ Organisme.idQuartier.idBaseDefense.BaseDefense }} - {{ Organisme.idQuartier.Quartier }}</option>
                            {% endfor %}
                        </select>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="priority" autocomplete="off">
                                    <option selected>Priorité</option>
                                    {% for Prio in Prios %}
                                        <option value="{{ Prio.idPriorisation }}">{{ Prio.priorisation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="state">
                                    <option value="1" selected>État</option>
                                    <option value="1">Prévu</option>
                                    <option value="2">Traité</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group mb-3 date datepicker">
                                    <input type="text" class="form-control" placeholder="Échéance" aria-label="datepicker" aria-describedby="basic-addon1" name="date" autocomplete="off"><span class="input-group-addon"></span>
                                    <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3 date datepicker">
                                    <input type="text" class="form-control" placeholder="Date de la demande" aria-label="datepicker" aria-describedby="basic-addon1" name="dateDemande" autocomplete="off"><span class="input-group-addon"></span>
                                    <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="impact" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Impact de non réalisation</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="comment" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Commentaire</label>
                        </div>
                        <input type="hidden" id="_token" name="_token" value={{ csrf_token ('CreateModip')}}>
                    </div>
                    <div class="modal-footer">
                        <!-- send request-->
                        <button id="submit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Second modal create -->
    <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="loading">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div id="ajax-modal"></div>
                </div>
                <div class="modal-footer">
                    <!-- close second create -->
                    <button onClick="window.location.reload();" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal2"><i class="fas fa-check"></i> Ok</button>
                </div>
            </div>
        </div>
    </div>

    {#modal delete Modip#}
    <!-- Modal delete-->
    <div class="modal fade" id="modalDelete1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-4">
                        <div class="input-group mb-3">
                            <h2>Attention ! Cette action est irréversible.</h2>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form id="modipFormDelete" action="{{ path ('Admin_Modip_Delete')}}" method="post" class="js-Ajax-form">
                        <input type="hidden" id="_token" name="_token" value={{ csrf_token ('DeleteModip')}}>
                        <button class="btn btn-danger" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modalDelete1">
                            Confirmer <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Second modal delete -->
    <div class="modal fade" id="modalDelete2" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="loading">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div id="ajax-modalDelete"></div>
                </div>
                <div class="modal-footer">
                    <!-- close second delete -->
                    <button onClick="window.location.reload();" class="btn btn-primary" data-bs-target="#modalDelete2" data-bs-toggle="modal" data-bs-dismiss="modalDelete2"><i class="fas fa-check"></i> Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Second modal edit -->
    <div class="modal fade" id="modalEdit2" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="loading">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div id="ajax-modalEdit"></div>
                </div>
                <div class="modal-footer">
                    <!-- close second edit -->
                    <button onClick="window.location.reload();" class="btn btn-primary" data-bs-target="#modalEdit2" data-bs-toggle="modal" data-bs-dismiss="modalEdit2"><i class="fas fa-check"></i> Ok</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}