{% extends 'sidenav.html.twig' %}

{% block titleSidenav %}OSLO | Contact{% endblock %}

{% block stylesheetsSidenav %}
    {{ encore_entry_link_tags('sidenav') }}
    {{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block javascriptsSidenav %}
    {{ encore_entry_script_tags('contactJS') }}
{% endblock %}

{% block sideNav %}
    <li class="sideNavItem">
        <a href="{{ path ('contact') }}" class="">Contacts</a>
    </li>
    <li class="sideNavItem">
        <a href="{{ path ('contactCirisi') }}" class="">Contacts CIRISI</a>
    </li>
    <li class="sideNavItem">
        <a href="{{ path ('contactBdd') }}" class="">Contacts BDD</a>
    </li>
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mainTitle">Contacts</h1>

        <div class="col-5 mx-auto">
            <ul class="list-group">
                {% for contact in contacts %}
                <li class="list-group-item">
                    <button class="toogleContact" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ contact.idContact }}" aria-expanded="false" aria-controls="collapseExample">
                        {{ contact.intituleContact }} <i class="fas fa-chevron-circle-down"></i>
                    </button>
                    <div class="collapse info" id="collapse{{ contact.idContact }}">
                        <ul class="coordonnees">
                            <li>Nom : {{ contact.nomContact }}</li>
                            <li>Prénom : {{ contact.prenomContact }}</li>
                            <li>Email : {{ contact.emailContact }}</li>
                            <li>TPH : {{ contact.telContact }}</li>
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}




