{% extends 'sidenav.html.twig' %}

{% block titleSidenav %}
    {% if app.user.roles[0] == 'ROLE_ADMIN'%}
        OSLO |
    {% else %}
        OSLO | {{ app.user.roles[0] }}
    {% endif %}
{% endblock %}

{% block stylesheetsSidenav %}
    {{ encore_entry_link_tags('sidenav') }}
{% endblock %}

{% block javascriptsSidenav %}

{% endblock %}

{% block sideNav %}
    {% if app.user.roles[0] == 'ROLE_ADMIN'%}
        <li class="sideNavItem">
            <a href="{{ path ('Gestion', {role: 'BRC'})}}" class="">Accueil</a>
        </li>
    {% else %}
        <li class="sideNavItem">
            <a href="{{ path ('Gestion', {role: app.user.roles[0]})}}" class="">Accueil {{ app.user.roles[0] }}</a>
        </li>
    {% endif %}

    {% if app.User.roles[0] != 'BCS' %}
        <li class="sideNavItem">
            <a href="{{ path ('Bnr', {role: app.user.roles[0]})}}" class="">BNR</a>
        </li>
        <li class="sideNavItem">
            <a href="{{ path ('contactCirisi') }}" class="">MODIP</a>
        </li>
    {% endif %}
    {% if app.User.roles[0] != 'BPT' %}
        <li class="sideNavItem">
            <a href="{{ path ('contactBdd') }}" class="">MIM3</a>
        </li>
        <li class="sideNavItem">
            <a href="{{ path ('contactBdd') }}" class="">OPERA</a>
        </li>
    {% endif %}


{% endblock %}

{% block body %}
    {% if app.user.roles[0] == 'ROLE_ADMIN'%}
        <h1 class="mainTitle">Gestion </h1>
    {% else %}
        <h1 class="mainTitle">Gestion {{ app.user.roles[0] }}</h1>
    {% endif %}

    <div class="container">
        <div class="row">
            {% if app.User.roles[0] != 'BCS' %}
                {# card BNR#}
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><i class="fas fa-id-card"></i> BNR</h3>
                            <p class="card-text">Il y a actuellement {{ nbBNR }} BNR enregistrés</p>
                            <a href="{{ path ('Bnr', {role: app.user.roles[0]})}}" class="btn btn-outline-primary">Voir plus</a>
                        </div>
                    </div>
                </div>
                {# /card BNR #}
                {# card Modip#}
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><i class="fas fa-id-card"></i> MODIP</h3>
                            <p class="card-text">Il y a actuellement {{ nbMODIP }} MODIP enregistrés</p>
                            <a href="{{ path ('Admin_contacts') }}" class="btn btn-outline-primary">Voir plus</a>
                        </div>
                    </div>
                </div>
                {# /card MODIP #}
            {% endif %}

            {% if app.User.roles[0] != 'BPT' %}
                {# card MIM3#}
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><i class="fas fa-id-card"></i> MIM3</h3>
                            <p class="card-text">Il y a actuellement {{ nbMIM3 }} MIM3 enregistrés</p>
                            <a href="{{ path ('Admin_contacts') }}" class="btn btn-outline-primary">Voir plus</a>
                        </div>
                    </div>
                </div>
                {# /card MIM3 #}
                {# card OPERA#}
                <div class="col-lg-3 col-6">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><i class="fas fa-id-card"></i> OPERA</h3>
                            <p class="card-text">Il y a actuellement {{ nbOPERA }} OPERA enregistrés</p>
                            <a href="{{ path ('Admin_contacts') }}" class="btn btn-outline-primary">Voir plus</a>
                        </div>
                    </div>
                </div>
                {# /card OPERA #}
            {% endif %}
        </div>
    </div>
{% endblock %}




