{% extends 'base.html.twig' %}

{% block title %}OSLO | Accueil{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}


    <div class="homeContent">
        <div class="Background">
            <p class="maj">Outil de</p>
            <p class="maj">Suivi</p>
            <p>des Réseaux</p>
            <p class="maj">L<strong>O</strong>caux</p>
        </div>
        <div id="map">
            <img src="{{ asset('images/map.svg') }}" alt=""/>
        </div>
        <div class="basesDefenses">
            {% for Bdd in Bdds %}
                <button class="bddLink" data-bs-toggle="modal" data-bs-target="#modalQuartier{{ Bdd.idBaseDefense }}">
                    {{ Bdd.BaseDefense }}
                </button>
                <!-- Modal quartier-->
                <div class="modal fade" id="modalQuartier{{ Bdd.idBaseDefense }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="exampleModalLabel">Liste des quartiers</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body quartierLinkContain">
                                {% for Quartier in Quartiers %}
                                    {% if Quartier.idBaseDefense.idBaseDefense ==  Bdd.idBaseDefense %}
                                        <a type="button" class="btn btn-outline-secondary quartierLink mb-2" href="{{ path ('quartier', {trigramme: Quartier.trigramme, BaseDefense: Bdd.idBaseDefense}) }}">
                                            {{ Quartier.trigramme }} - {{ Quartier.quartier }}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>



{% endblock %}