{% extends 'gestion/gestionEntity.html.twig' %}

{% block styleGestionEntity %}
    {{ encore_entry_link_tags('gestionEntity') }}
    {{ encore_entry_link_tags('cards') }}
{% endblock %}

{% block javascriptGestionEntity %}

{% endblock %}

{% block FormFilterGestionEntity %}
    {% include 'gestion/affaire/formFilterAffaire.html.twig' with {Organismes: Organismes, form: form} only %}
{% endblock %}

{% block ContentGestionEntity %}



    <div class="js-filter-sorting sorting">
        {% include 'gestion/affaire/_sorting.html.twig' %}
    </div>

    <div class="row">
        <div class="js-filter-content row">
            {% include 'gestion/affaire/_content.html.twig' %}
        </div>
    </div>

    {# display navigation #}
    <div class="navigation js-filter-pagination">
        {% include 'gestion/affaire/_pagination.html.twig'%}
    </div>

    <!-- Modals new affaire-->
    <!-- First modal dialog create-->
    <div class="modal fade" id="modal" data-bs-focus="true" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="modalLabel">Nouvelle {{ title }} :</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="affaireFormCreate" action="{{ path ('Admin_Affaire_New')}}" method="post" class="js-Ajax-form">
                        <select class="form-select mb-3" aria-label="Default select example" name="nature" autocomplete="off">
                            <option selected>Nature</option>
                            {% for Nature in Natures %}
                                <option value="{{ Nature.idNatureAffaire }}">
                                    {% if  Nature.natureAffaire == 'RDIP' %}
                                        RDIP
                                    {% elseif  Nature.natureAffaire == 'SECPRO' %}
                                        SECPRO
                                    {% elseif  Nature.natureAffaire == 'Antennes - Sémaphores' %}
                                        Antennes - Sémaphores
                                    {% elseif  Nature.natureAffaire == 'Faire - faire' %}
                                        Faire - faire
                                    {% elseif  Nature.natureAffaire == 'RAT' %}
                                        RAT
                                    {% elseif  Nature.natureAffaire == 'Lignes urgences' %}
                                        Lignes urgences
                                    {% elseif  Nature.natureAffaire == 'Lignes réseaux CD' %}
                                        Lignes réseaux CD
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="bnr" name="affaire" placeholder="name@example.com">
                            <label for="bnr">Nom du projet</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="objectif" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Objectif</label>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="feb" autocomplete="off">
                                    <option selected>FEB associée</option>
                                    {% for Feb in Febs %}
                                        <option value="{{ Feb.idFeb }}">{{ Feb.numFeb }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="priority" autocomplete="off">
                                    <option selected>Priorité</option>
                                    {% for Prio in Prios %}
                                        <option value="{{ Prio.idPriorisation }}">{{ Prio.priorisation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form mb-3">
                                    <input type="number" class="form-control" min="0" step="0.01" id="montant" name="montant" placeholder="Montant">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3 date datepicker">
                                    <input type="text" class="form-control" placeholder="Échéance" aria-label="datepicker" aria-describedby="basic-addon1" name="date" autocomplete="off"><span class="input-group-addon"></span>
                                    <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="comment" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Commentaire</label>
                        </div>

                        <input type="hidden" id="_token" name="_token" value={{ csrf_token ('CreateAffaire')}}>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- send request-->
                    <button form="affaireFormCreate" type="submit" id="submit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    {#modal delete Affaire#}
    <!-- Modal delete-->
    <div class="modal fade" id="modalDelete1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-4">
                        <div class="input-group mb-3">
                            <h2>Attention ! Cette action est irréversible.</h2>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form id="bnrFormDelete" action="{{ path ('Admin_Affaire_Delete')}}" method="post" class="js-Ajax-form">
                        <input type="hidden" id="_token" name="_token" value={{ csrf_token ('DeleteAffaire')}}>
                        <button class="btn btn-danger" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modalDelete1">
                            Confirmer <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'gestion/_secondModal.html.twig' %}

{% endblock %}