
<div class="col-6" id="entity-{{ Affaire.idAffaire }}">
    <div class="card">
        <div class="card-body Entity-card">
            <div class="card-content">
                <h3 class="card-title">
                    {{ Affaire.nomAffaire }}
                    <div class="form-check" style="font-size: larger">
                        <label for="checkbox{{ Affaire.idAffaire }}"></label>
                        <input form="bnrFormDelete" class="form-check-input checkboxAffaire" name="idChecked{{ Affaire.idAffaire }}" type="checkbox" value="{{ Affaire.idAffaire }}" id="checkbox{{ Affaire.idAffaire }}">
                    </div>
                </h3>
                <h4 class="card-subtitle mb-2 text-muted">
                    {% if  Affaire.idNatureAffaire.natureAffaire == 'RDIP' %}
                        RDIP
                    {% elseif  Affaire.idNatureAffaire.natureAffaire == 'SECPRO' %}
                        SECPRO
                    {% elseif  Affaire.idNatureAffaire.natureAffaire == 'Antennes - Sémaphores' %}
                        Antennes - Sémaphores
                    {% elseif  Affaire.idNatureAffaire.natureAffaire == 'Faire - faire' %}
                        Faire - faire
                    {% elseif  Affaire.idNatureAffaire.natureAffaire == 'RAT' %}
                        RAT
                    {% elseif  Affaire.idNatureAffaire.natureAffaire == 'Lignes urgences' %}
                        Lignes urgences
                    {% elseif  Affaire.idNatureAffaire.natureAffaire == 'Lignes réseaux CD' %}
                        Lignes réseaux CD
                    {% else %}
                        {{ sigles[Affaire.idNatureAffaire.natureAffaire] }}
                    {% endif %}
                </h4>
                <p class="card-text">
                    <span class="label">Montant :</span>
                    {{ Affaire.montantAffaire|number_format(2, ',', ' ') }} €
                    <br>
                    <span class="label">Organisme :</span>
                    {% if Affaire.idFeb %}
                        {% for Orga in Affaire.idFeb.idOrganisme %}
                            {{ Orga.Organisme }} - {{ Orga.idQuartier.idbaseDefense.baseDefense }} - {{ Orga.idQuartier.trigramme }}
                        {% endfor %}
                    {% else %}
                    {% endif %}

                    <br>
                    <span class="label">Objectif :</span>
                    <br>
                    {{ Affaire.objectifAffaire }}
                    <br>
                </p>
                <div class="collapse" id="collapseCard{{ Affaire.idAffaire }}">
                    <p class="info">
                        <span class="label">Objectif :</span>
                        <br>
                        {{ Affaire.objectifAffaire }}
                        <br>
                        <span class="label">Commentaire :</span>
                        <br>
                        {{ Affaire.commentaire }}
                        <br>

                    </p>
                </div>
            </div>
            <button class="btn btn-outline-primary collapseBtn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCard{{ Affaire.idAffaire }}" aria-expanded="false" aria-controls="collapseCard">
                Voir plus <i class="far fa-eye"></i>
            </button>
            <!-- Button trigger modal edit -->
            <button type="button" class="btn btn-outline-primary collapseBtn" data-bs-toggle="modal" data-bs-target="#modalEdit{{ Affaire.idAffaire }}">
                Modifier <i class="fas fa-edit"></i>
            </button>
        </div>
    </div>

    <!-- Modal edit-->
    <div class="modal fade" id="modalEdit{{ Affaire.idAffaire }}" data-bs-focus="true" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="modalLabel">Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="bnrFormEdit{{ Affaire.idAffaire }}" action="{{ path ('Admin_Affaire_Edit', {id: Affaire.idAffaire })}}" method="post" class="js-Ajax-form">
                        <select class="form-select mb-3" aria-label="Default select example" name="natureEdit" autocomplete="off">
                            <option value="{{ Affaire.idNatureAffaire.idNatureAffaire }}" selected>{{ Affaire.idNatureAffaire.natureAffaire }}</option>
                            {% for Nature in Natures %}
                                <option value="{{ Nature.idNatureAffaire }}">
                                    {% if  Nature.natureAffaire == 'RDIP' %}
                                        RDIP
                                    {% elseif  Nature.natureAffaire == 'SECPRO' %}
                                        SECPRO
                                    {% elseif  Nature.natureAffaire == 'Antennes - Sémaphores' %}
                                        Antennes - Sémaphores
                                    {% elseif  Nature.natureAffaire == 'Faire - faire' %}
                                        Faire - faire
                                    {% elseif  Nature.natureAffaire == 'RAT' %}
                                        RAT
                                    {% elseif  Nature.natureAffaire == 'Lignes urgences' %}
                                        Lignes urgences
                                    {% elseif  Nature.natureAffaire == 'Lignes réseaux CD' %}
                                        Lignes réseaux CD
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                        <div class="form-floating mb-3">
                            <input value="{{ Affaire.nomAffaire }}" type="text" class="form-control" id="affaire" name="affaireEdit" placeholder="name@example.com">
                            <label for="bnr">Nom du projet</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="objectifEdit" style="height: 100px">{{ Affaire.objectifAffaire }}</textarea>
                            <label for="floatingTextarea2">Objectif</label>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="febEdit" autocomplete="off">
                                    <option value="{{ Affaire.idFeb.idFeb }}" selected>{{ Affaire.idFeb.numFeb }}</option>
                                    {% for Feb in Febs %}
                                        <option value="{{ Feb.idFeb }}">{{ Feb.numFeb }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="priorityEdit" autocomplete="off">
                                    <option value="{{ Affaire.idPriorisation.idPriorisation }}" selected>{{ Affaire.idPriorisation.priorisation }}</option>
                                    {% for Prio in Prios %}
                                        <option value="{{ Prio.idPriorisation }}">{{ Prio.priorisation }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form mb-3">
                                    <input value="{{ Affaire.montantAffaire }}" type="number" class="form-control" min="0" step="0.01" id="montant" name="montantEdit" placeholder="Montant">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3 date datepicker">
                                    <input value="{{ Affaire.echeanceAffaire|date('m/d/Y') }}" type="text" class="form-control" placeholder="Échéance" aria-label="datepicker" aria-describedby="basic-addon1" name="dateEdit" autocomplete="off"><span class="input-group-addon"></span>
                                    <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="commentEdit" style="height: 100px">{{ Affaire.commentaire }}</textarea>
                            <label for="floatingTextarea2">Commentaire</label>
                        </div>
                    </form>
                </div>
                    <div class="modal-footer">
                        <!-- send request-->
                        <input form="bnrFormEdit{{ Affaire.idAffaire }}" type="hidden" id="_token" name="_token" value={{ csrf_token ('EditAffaire')}}>
                        <input form="bnrFormEdit{{ Affaire.idAffaire }}" type="hidden" name="idEdit" value="{{ Affaire.idAffaire }}">
                        <button form="bnrFormEdit{{ Affaire.idAffaire }}" type="submit" id="submitEdit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modalEdit{{ Affaire.idAffaire }}">Enregistrer</button>
                    </div>
            </div>
        </div>
    </div>
</div>
