{% extends 'base.html.twig' %}

{% block title %}OSLO | Administration des Routeurs fédérateurs de zone{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}

    <h1 class="mainTitle">Grands Comptes</h1>
    <div class="container js-Ajax">

        <div class="col">
            <a href="{{ path ('Admin') }}" class="btn btn-outline-secondary">Retour <i class="fas fa-chevron-left"></i></a>
        </div>

        <!-- Button trigger modal new grandsComptes -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal">
            Nouveau grand compte <i class="fas fa-plus-square"></i>
        </button>

        <!-- Button trigger modal delete -->
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalDelete1">
            Supprimer la sélection <i class="fas fa-trash"></i>
        </button>


        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col"><i class="fas fa-check"></i></th>
                <th scope="col">Grand Compte</th>
                <th scope="col">Modifier</th>
            </tr>
            </thead>
            <tbody>
            {% for grandsComptes in GrandsComptess %}
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <label for="checkbox{{ grandsComptes.idGrandsComptes }}"></label>
                            <input form="grandsComptesFormDelete" class="form-check-input checkboxGrandsComptes" name="idChecked{{ grandsComptes.idGrandsComptes }}" type="checkbox" value="{{ grandsComptes.idGrandsComptes }}" id="checkbox{{ grandsComptes.idGrandsComptes }}">
                        </div>
                    </th>
                    <td>{{ grandsComptes.grandsComptes }}</td>
                    <td>
                        <!-- Button trigger modal edit -->
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalEdit1{{ grandsComptes.idGrandsComptes }}">
                            <i class="fas fa-edit"></i>
                        </button>

                        <!-- Modal edit-->
                        <div class="modal fade" id="modalEdit1{{ grandsComptes.idGrandsComptes }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel">Modifier</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form id="grandsComptesFormEdit{{ grandsComptes.idGrandsComptes }}" class="grandsComptesFormEdit js-Ajax-form" action="{{ path ('Admin_GrandsComptes_Edit', {id: grandsComptes.idGrandsComptes })}}" method="post">
                                        <div class="modal-body">
                                            <div class="container mt-4">
                                                <h2>Modifier les informations du routeur fédérateur de zone :</h2>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Nom</span>
                                                    <input type="text" class="form-control" value="{{ grandsComptes.grandsComptes }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="grandsComptesEdit" name="grandsComptesEdit">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="hidden" id="_token" name="_token" value={{ csrf_token ('EditGrandsComptes')}}>
                                            <input type="hidden" name="idEdit" value="{{ grandsComptes.idGrandsComptes }}">
                                            <button type="submit" id="submitEdit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modalEdit1{{ grandsComptes.idGrandsComptes }}">Enregistrer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(GrandsComptess) }}
        </div>

        <!-- Modals new grandsComptes-->
        <!-- First modal dialog create-->
        <div class="modal fade" id="modal" data-bs-focus="true" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="modalLabel">Nouveau grand compte :</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="grandsComptesFormCreate" action="{{ path ('Admin_GrandsComptes_New')}}" method="post" class="js-Ajax-form">
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Nom</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="grandsComptes" name="grandsComptes">
                            </div>
                            <input type="hidden" id="_token" name="_token" value={{ csrf_token ('CreateGrandsComptes')}}>
                        </div>
                        <div class="modal-footer">
                            <!-- send request-->
                            <button id="submit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {#modal delete GrandsComptes#}
        <!-- Modal delete-->
        <div class="modal fade" id="modalDelete1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel">Modifier</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container mt-4">
                            <div class="input-group mb-3">
                                <h2>Attention ! Cette action est irréversible.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form id="grandsComptesFormDelete" action="{{ path ('Admin_GrandsComptes_Delete')}}" method="post" class="js-Ajax-form">
                            <input type="hidden" id="_token" name="_token" value={{ csrf_token ('DeleteGrandsComptes')}}>
                            <button class="btn btn-danger" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modalDelete1">
                                Confirmer <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second modal edit -->
        <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="loading">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div id="ajax-modal"></div>
                    </div>
                    <div class="modal-footer">
                        <!-- close second edit -->
                        <button onClick="window.location.reload();" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal2"><i class="fas fa-check"></i> Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}