{% extends 'base.html.twig' %}

{% block title %}OSLO | Administration des statuts de plan de charge{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}

    <h1 class="mainTitle">Statuts de plan de charge</h1>
    <div class="container js-Ajax">

        <div class="col">
            <a href="{{ path ('Admin') }}" class="btn btn-outline-secondary">Retour <i class="fas fa-chevron-left"></i></a>
        </div>

        <!-- Button trigger modal new statutPdc -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal">
            Nouveau statut <i class="fas fa-plus-square"></i>
        </button>

        <!-- Button trigger modal delete -->
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalDelete1">
            Supprimer la sélection <i class="fas fa-trash"></i>
        </button>


        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col"><i class="fas fa-check"></i></th>
                <th scope="col">Statut</th>
                <th scope="col">Modifier</th>
            </tr>
            </thead>
            <tbody>
            {% for statutPdc in StatutPdcs %}
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <label for="checkbox{{ statutPdc.idStatutPdc }}"></label>
                            <input form="statutPdcFormDelete" class="form-check-input checkboxStatutPdc" name="idChecked{{ statutPdc.idStatutPdc }}" type="checkbox" value="{{ statutPdc.idStatutPdc }}" id="checkbox{{ statutPdc.idStatutPdc }}">
                        </div>
                    </th>
                    <td>{{ statutPdc.statutPdc }}</td>
                    <td>
                        <!-- Button trigger modal edit -->
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalEdit1{{ statutPdc.idStatutPdc }}">
                            <i class="fas fa-edit"></i>
                        </button>

                        <!-- Modal edit-->
                        <div class="modal fade" id="modalEdit1{{ statutPdc.idStatutPdc }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel">Modifier</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form id="statutPdcFormEdit{{ statutPdc.idStatutPdc }}" class="statutPdcFormEdit js-Ajax-form" action="{{ path ('Admin_StatutPdc_Edit', {id: statutPdc.idStatutPdc })}}" method="post">
                                        <div class="modal-body">
                                            <div class="container mt-4">
                                                <h2>Modifier les informations du statut :</h2>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Nom</span>
                                                    <input type="text" class="form-control" value="{{ statutPdc.statutPdc }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="statutPdcEdit" name="statutPdcEdit">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="hidden" id="_token" name="_token" value={{ csrf_token ('EditStatutPdc')}}>
                                            <input type="hidden" name="idEdit" value="{{ statutPdc.idStatutPdc }}">
                                            <button type="submit" id="submitEdit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modalEdit1{{ statutPdc.idStatutPdc }}">Enregistrer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(StatutPdcs) }}
        </div>

        <!-- Modals new statutPdc-->
        <!-- First modal dialog create-->
        <div class="modal fade" id="modal" data-bs-focus="true" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="modalLabel">Nouveau statut :</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="statutPdcFormCreate" action="{{ path ('Admin_StatutPdc_New')}}" method="post" class="js-Ajax-form">
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text">Nom</span>
                                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="statutPdc" name="statutPdc">
                            </div>
                            <input type="hidden" id="_token" name="_token" value={{ csrf_token ('CreateStatutPdc')}}>
                        </div>
                        <div class="modal-footer">
                            <!-- send request-->
                            <button id="submit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {#modal delete StatutPdc#}
        <!-- Modal delete-->
        <div class="modal fade" id="modalDelete1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel">Modifier</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container mt-4">
                            <div class="input-group mb-3">
                                <h2>Attention ! Cette action est irréversible.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <form id="statutPdcFormDelete" action="{{ path ('Admin_StatutPdc_Delete')}}" method="post" class="js-Ajax-form">
                            <input type="hidden" id="_token" name="_token" value={{ csrf_token ('DeleteStatutPdc')}}>
                            <button class="btn btn-danger" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modalDelete1">
                                Confirmer <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second modal edit -->
        <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="loading">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div id="ajax-modal"></div>
                    </div>
                    <div class="modal-footer">
                        <!-- close second edit -->
                        <button onClick="window.location.reload();" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal2"><i class="fas fa-check"></i> Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}