{% extends 'base.html.twig' %}

{% block title %}OSLO | Administration des utilisateurs{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('scriptUsers') }}
{% endblock %}

{% block body %}

    <h1 class="mainTitle">Utilisateurs</h1>
    <div class="container">

        <div class="col mb-2">
            <a href="{{ path ('Admin') }}" class="btn btn-outline-secondary">Retour <i class="fas fa-chevron-left"></i></a>
        </div>

        <!-- Button trigger modal new User -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal">
            Nouvel utilisateur <i class="fas fa-plus-square"></i>
        </button>

        <!-- Button trigger modal delete -->
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modalDelete1">
            Supprimer la sélection <i class="fas fa-trash"></i>
        </button>


        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col"><i class="fas fa-check"></i></th>
                <th scope="col">Utilisateur</th>
                <th scope="col">Rôle</th>
                <th scope="col">Modifier</th>
            </tr>
            </thead>
            <tbody>
            {% for User in Users %}
                <tr>
                    <th scope="row">
                        <div class="form-check">
                            <label for="checkbox{{ User.idUser }}"></label>
                            <input form="UserFormDelete" class="form-check-input checkboxUser" name="idChecked{{ User.idUser }}" type="checkbox" value="{{ User.idUser }}" id="checkbox{{ User.idUser }}">
                        </div>
                    </th>
                    <td>{{ User.User }}</td>
                    <td>
                        {% if User.roles[0] == 'ROLE_ADMIN' %}
                            Administrateur
                        {% else %}
                            {{ User.roles[0] }}
                        {% endif %}
                    </td>
                    <td>
                        <!-- Button trigger modal edit -->
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalEdit1{{ User.idUser }}">
                            <i class="fas fa-edit"></i>
                        </button>

                        <!-- Modal edit-->
                        <div class="modal fade" id="modalEdit1{{ User.idUser }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" id="exampleModalLabel">Modifier</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form id="UserFormEdit{{ User.idUser }}" class="UserFormEdit" action="{{ path ('Admin_User_Edit', {id: User.idUser })}}" method="post">
                                        <div class="modal-body">
                                            <div class="container mt-4">
                                                <h2>Modifier les informations de l'utilisateur :</h2>
                                                <div class="input-group mb-3">
                                                    <span class="input-group-text">Nom</span>
                                                    <input value="{{ User.User }}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="UserEdit" name="UserEdit">
                                                </div>
                                                <select name="roleEdit" class="form-select" aria-label="Default select example">
                                                    <option selected>
                                                        {% if User.roles[0] == 'ROLE_ADMIN' %}
                                                            Administrateur
                                                        {% elseif User.roles[0] == 'ROLE_BRC'%}
                                                            BRC
                                                        {% elseif User.roles[0] == 'ROLE_BPT'%}
                                                            BPT
                                                        {% elseif User.roles[0] == 'ROLE_BCS'%}
                                                            BCS
                                                        {% else %}
                                                            Rôle inconnu
                                                        {% endif %}
                                                    </option>
                                                    <option value="admin">Administrateur</option>
                                                    <option value="BRC">BRC</option>
                                                    <option value="BPT">BPT</option>
                                                    <option value="BCS">BCS</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="hidden" id="_token" name="_token" value={{ csrf_token ('EditUser')}}>
                                            <input type="hidden" name="idEdit" value="{{ User.idUser }}">
                                            <button type="submit" id="submitEdit" class="btn btn-primary" data-bs-target="#modalEdit2" data-bs-toggle="modal" data-bs-dismiss="modalEdit1{{ User.idUser }}">Enregistrer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modals new User-->
    <!-- First modal dialog create-->
    <div class="modal fade" id="modal" data-bs-focus="true" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="modalLabel">Nouvel utilisateur :</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="UserFormCreate" action="{{ path ('Admin_User_New')}}" method="post">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Nom</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="User" name="User">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Mot de passe</span>
                            <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="pwd" name="pwd">
                        </div>
                        <select name="role" class="form-select" aria-label="Default select example">
                            <option selected>Rôle</option>
                            <option value="admin">Administrateur</option>
                            <option value="BRC">BRC</option>
                            <option value="BPT">BPT</option>
                            <option value="BCS">BCS</option>
                        </select>
                        <input type="hidden" id="_token" name="_token" value={{ csrf_token ('CreateUser')}}>
                    </div>
                    <div class="modal-footer">
                        <!-- send request-->
                        <button id="submit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Second modal create -->
    <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="loading">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div id="ajax-modal"></div>
                </div>
                <div class="modal-footer">
                    <!-- close second create -->
                    <button onClick="window.location.reload();" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal2"><i class="fas fa-check"></i> Ok</button>
                </div>
            </div>
        </div>
    </div>

    {#modal delete User#}
    <!-- Modal delete-->
    <div class="modal fade" id="modalDelete1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-4">
                        <div class="input-group mb-3">
                            <h2>Attention ! Cette action est irréversible.</h2>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form id="UserFormDelete" action="{{ path ('Admin_User_Delete')}}" method="post">
                        <input type="hidden" id="_token" name="_token" value={{ csrf_token ('DeleteUser')}}>
                        <button class="btn btn-danger" data-bs-target="#modalDelete2" data-bs-toggle="modal" data-bs-dismiss="modalDelete1">
                            Confirmer <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Second modal delete -->
    <div class="modal fade" id="modalDelete2" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="loading">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div id="ajax-modalDelete"></div>
                </div>
                <div class="modal-footer">
                    <!-- close second delete -->
                    <button onClick="window.location.reload();" class="btn btn-primary" data-bs-target="#modalDelete2" data-bs-toggle="modal" data-bs-dismiss="modalDelete2"><i class="fas fa-check"></i> Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Second modal edit -->
    <div class="modal fade" id="modalEdit2" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="loading">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div id="ajax-modalEdit"></div>
                </div>
                <div class="modal-footer">
                    <!-- close second edit -->
                    <button onClick="window.location.reload();" class="btn btn-primary" data-bs-target="#modalEdit2" data-bs-toggle="modal" data-bs-dismiss="modalEdit2"><i class="fas fa-check"></i> Ok</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}