{% extends 'gestion/gestionEntity.html.twig' %}

{% block styleGestionEntity %}
    {{ encore_entry_link_tags('gestionEntity') }}
    {{ encore_entry_link_tags('cards') }}
{% endblock %}

{% block javascriptGestionEntity %}

{% endblock %}

{% block FormFilterGestionEntity %}
    {% include 'gestion/accesWan/formFilterAccesWan.html.twig' with {Quartiers: Quartiers, form: form} only %}
{% endblock %}

{% block ContentGestionEntity %}

    <div class="js-filter-sorting sorting">
        {% include 'gestion/accesWan/_sorting.html.twig' %}
    </div>

    <div class="row">
        <div class="js-filter-content row">
            {% include 'gestion/accesWan/_content.html.twig' %}
        </div>
    </div>

    {# display navigation #}
    <div class="navigation js-filter-pagination">
        {% include 'gestion/accesWan/_pagination.html.twig'%}
    </div>

    <!-- Modals new accesWan-->
    <!-- First modal dialog create-->
    <div class="modal fade" id="modal" data-bs-focus="true" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="modalLabel">Nouveau {{ title }} :</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="accesWanFormCreate" action="{{ path ('Admin_AccesWan_New')}}" method="post" class="js-Ajax-form">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="IdAccess" name="IdAccess" placeholder="name@example.com">
                            <label for="IdAccess">ID Access</label>
                        </div>
                        <select class="form-select mb-3" aria-label="Default select example" name="quartier" autocomplete="off">
                            <option selected>Quartier bénéficiaire</option>
                            {% for Quartier in Quartiers %}
                                <option value="{{ Quartier.idQuartier }}">{{ Quartier.Quartier }} - {{ Quartier.idBaseDefense.baseDefense }} - {{ Quartier.trigramme }}</option>
                            {% endfor %}
                        </select>
                        <div class="form mb-3">
                            <input type="number" min="0" step="1" class="form-control" id="Debit" name="Debit" placeholder="Débit (Mb/s)">
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="type" autocomplete="off">
                                    <option selected>Type</option>
                                    <option value="1">Cuivre</option>
                                    <option value="2">Fibre</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="etat" autocomplete="off">
                                    <option selected>État</option>
                                    <option value="1">Prévu</option>
                                    <option value="2">Traité</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="comment" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Commentaire</label>
                        </div>

                        <input type="hidden" id="_token" name="_token" value={{ csrf_token ('CreateAccesWan')}}>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- send request-->
                    <button form="accesWanFormCreate" type="submit" id="submit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    {#modal delete AccesWan#}
    <!-- Modal delete-->
    <div class="modal fade" id="modalDelete1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-4">
                        <div class="input-group mb-3">
                            <h2>Attention ! Cette action est irréversible.</h2>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form id="bnrFormDelete" action="{{ path ('Admin_AccesWan_Delete')}}" method="post" class="js-Ajax-form">
                        <input type="hidden" id="_token" name="_token" value={{ csrf_token ('DeleteAccesWan')}}>
                        <button class="btn btn-danger" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modalDelete1">
                            Confirmer <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'gestion/_secondModal.html.twig' %}

{% endblock %}