
<div class="col-6" id="entity-{{ AccesWan.idOpera }}">
    <div class="card">
        <div class="card-body Entity-card">
            <div class="card-content">
                <h3 class="card-title">
                    {{ AccesWan.IdAccess }}
                    <div class="form-check" style="font-size: larger">
                        <label for="checkbox{{ AccesWan.idOpera }}"></label>
                        <input form="bnrFormDelete" class="form-check-input checkboxAffaire" name="idChecked{{ AccesWan.idOpera }}" type="checkbox" value="{{ AccesWan.idOpera }}" id="checkbox{{ AccesWan.idOpera }}">
                    </div>
                </h3>
                <h4 class="card-subtitle mb-2 text-muted">
                    {{ AccesWan.debitOpera }} Mb/s
                </h4>
                <p class="card-text">
                    <span class="label">Quartier :</span>
                    {{ AccesWan.idQuartier.Quartier }} - {{ AccesWan.idQuartier.idbaseDefense.baseDefense }} - {{ AccesWan.idQuartier.trigramme }}
                    <br>
                    <span class="label">Coût mesuel :</span>
                    {{ AccesWan.coutMensuel|number_format(2, ',', ' ') }} €
                    <br>
                    <span class="label">Date début :</span>
                    {{ AccesWan.dateDebut|date('m/d/Y') }}
                    <br>
                    <span class="label">Date fin :</span>
                    {% if AccesWan.dateFin %}
                        {{ AccesWan.dateFin|date('m/d/Y') }}
                    {% endif %}
                    <br>
                </p>
                <div class="collapse" id="collapseCard{{ AccesWan.idOpera }}">
                    <p class="info">
                        <span class="label">Type :</span>
                        {% if AccesWan.typeOpera == 1 %}
                            Cuivre
                        {% else %}
                            Fibre
                        {% endif %}
                        <br>
                        <span class="label">État :</span>
                        {% if AccesWan.etatOpera == 1 %}
                            Prévu
                        {% else %}
                            Traité
                        {% endif %}
                        <br>
                        <span class="label">Commentaire :</span>
                        <br>
                        {{ AccesWan.commentaire }}
                        <br>

                    </p>
                </div>
            </div>
            <button class="btn btn-outline-primary collapseBtn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCard{{ AccesWan.idOpera }}" aria-expanded="false" aria-controls="collapseCard">
                Voir plus <i class="far fa-eye"></i>
            </button>
            <!-- Button trigger modal edit -->
            <button type="button" class="btn btn-outline-primary collapseBtn" data-bs-toggle="modal" data-bs-target="#modalEdit{{ AccesWan.idOpera }}">
                Modifier <i class="fas fa-edit"></i>
            </button>
        </div>
    </div>

    <!-- Modal edit-->
    <div class="modal fade" id="modalEdit{{ AccesWan.idOpera }}" data-bs-focus="true" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="modalLabel">Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="bnrFormEdit{{ AccesWan.idOpera }}" action="{{ path ('Admin_AccesWan_Edit', {id: AccesWan.idOpera })}}" method="post" class="js-Ajax-form">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input value="{{ AccesWan.idAccess }}" type="text" class="form-control" id="IdAccess" name="IdAccessEdit" placeholder="name@example.com">
                                    <label for="IdAccess">ID Access</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input value="{{ AccesWan.origine }}" type="text" class="form-control" id="origine" name="origineEdit" placeholder="name@example.com">
                                    <label for="origine">Origine</label>
                                </div>
                            </div>
                        </div>
                        <select class="form-select mb-3" aria-label="Default select example" name="quartierEdit" autocomplete="off">
                            <option value="{{ AccesWan.idQuartier.idQuartier }}" selected>{{ AccesWan.idQuartier.Quartier }} - {{ AccesWan.idQuartier.idBaseDefense.baseDefense }} - {{ AccesWan.idQuartier.trigramme }}</option>
                            {% for Quartier in Quartiers %}
                                <option value="{{ Quartier.idQuartier }}">{{ Quartier.Quartier }} - {{ Quartier.idBaseDefense.baseDefense }} - {{ Quartier.trigramme }}</option>
                            {% endfor %}
                        </select>
                        <div class="row">
                            <div class="col-6">
                                <div class="form mb-3">
                                    <input value="{{ AccesWan.debitOpera }}" type="number" min="0" step="1" class="form-control" id="Debit" name="DebitEdit" placeholder="Débit (Mb/s)">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form mb-3">
                                    <input value="{{ AccesWan.coutMensuel }}" type="number" min="0" step="0.01" class="form-control" id="cout" name="coutEdit" placeholder="Coût mensuel">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group mb-3 date datepicker">
                                    <input value="{{ AccesWan.dateDebut|date('m/d/Y') }}" type="text" class="form-control" placeholder="Date de Début" aria-label="datepicker" aria-describedby="basic-addon1" name="dateDebutEdit" autocomplete="off"><span class="input-group-addon"></span>
                                    <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="input-group mb-3 date datepicker">
                                    <input value="{{ AccesWan.dateFin|date('m/d/Y') }}" type="text" class="form-control" placeholder="Date de fin" aria-label="datepicker" aria-describedby="basic-addon1" name="dateFinEdit" autocomplete="off"><span class="input-group-addon"></span>
                                    <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="typeEdit" autocomplete="off">
                                    {% if AccesWan.typeOpera == 1 %}
                                        <option value="{{ AccesWan.typeOpera }}" selected>Cuivre</option>
                                    {% else %}
                                        <option value="{{ AccesWan.typeOpera }}" selected>Fibre</option>
                                    {% endif %}
                                    <option value="1">Cuivre</option>
                                    <option value="2">Fibre</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="etatEdit" autocomplete="off">
                                    {% if AccesWan.etatOpera == 1 %}
                                        <option value="{{ AccesWan.etatOpera }}" selected>Prévu</option>
                                    {% else %}
                                        <option value="{{ AccesWan.etatOpera }}" selected>Traité</option>
                                    {% endif %}
                                    <option value="1">Prévu</option>
                                    <option value="2">Traité</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="commentEdit" style="height: 100px">{{ AccesWan.commentaire }}</textarea>
                            <label for="floatingTextarea2">Commentaire</label>
                        </div>
                    </form>
                </div>
                    <div class="modal-footer">
                        <!-- send request-->
                        <input form="bnrFormEdit{{ AccesWan.idOpera }}" type="hidden" id="_token" name="_token" value={{ csrf_token ('EditAccesWan')}}>
                        <input form="bnrFormEdit{{ AccesWan.idOpera }}" type="hidden" name="idEdit" value="{{ AccesWan.idOpera }}">
                        <button form="bnrFormEdit{{ AccesWan.idOpera }}" type="submit" id="submitEdit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modalEdit{{ AccesWan.idOpera }}">Enregistrer</button>
                    </div>
            </div>
        </div>
    </div>
</div>
