{{ form_start(form, { attr: {class: 'filter js-filter-form'}}) }}

    <div class="spinner-border js-loading" role="status" style="display: none">
        <span class="visually-hidden">Loading...</span>
    </div>

    <h4 class="mt-3">Intitulé</h4>
    <div class="col-4">{{ form_row(form.Pdc) }}</div>

    <h4 class="mt-3">Numéro</h4>
    <div class="col-4">{{ form_row(form.num) }}</div>

    <h4 class="mt-3">Statut</h4>
    <div class="col-4 scrollEntity">
        {{ form_row(form.StatutPdc) }}
    </div>

    <h4 class="mt-3">État</h4>
    <div class="col-4 scrollEntity">
        {{ form_row(form.EtatPdc) }}
    </div>

    <h4 class="mt-3">Grand compte</h4>
    <div class="col-4 scrollEntity">
        {{ form_row(form.GrandsComptes) }}
    </div>

    <h4 class="mt-3">Montant</h4>
    <div class="row">
        <div class="col-2">{{ form_row(form.supMontant) }}</div>
        <div class="col-4">{{ form_row(form.Montant) }}</div>
    </div>

    <button type="submit" class="btn btn-outline-secondary mt-3">Appliquer les filtres <i class="fas fa-search"></i></button>

{{ form_end(form) }}