<tr id="entity-{{ Pdc.idPdc }}">
    <th scope="row">
        <div class="form-check">
            <label for="checkbox{{ Pdc.idPdc }}"></label>
            <input form="pdcFormDelete" class="form-check-input checkboxPdc" name="idChecked{{ Pdc.idPdc }}" type="checkbox" value="{{ Pdc.idPdc }}" id="checkbox{{ Pdc.idPdc }}">
        </div>
    </th>
    <td>{{ Pdc.intitulePdc }}</td>
    <td>{{ Pdc.NumPdc }}</td>
    <td>{{ Pdc.montantPdc|number_format(2, ',', ' ') }} €</td>
    <td>{{ Pdc.IdGrandsComptes.grandsComptes}}</td>
    <td>{{ Pdc.IdStatutPdc.statutPdc }}</td>
    <td>{{ Pdc.IdEtatPdc.etatPdc }}</td>
    <td> nb feb</td>
    <td>
        <!-- Button trigger modal edit -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalEdit1{{ Pdc.idPdc }}">
            <i class="fas fa-edit"></i>
        </button>

        <!-- Modal edit-->
        <div class="modal fade" id="modalEdit1{{ Pdc.idPdc }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title" id="exampleModalLabel">Modifier</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="pdcFormEdit{{ Pdc.idPdc }}" class="pdcFormEdit js-Ajax-form" action="{{ path ('Admin_Pdc_Edit', {id: Pdc.idPdc })}}" method="post">
                            <div class="form-floating mb-3">
                                <input value="{{ Pdc.intitulePdc }}" type="text" class="form-control" id="Intitule" name="intituleEdit" placeholder="name@example.com">
                                <label for="Intitule">Intitulé</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input value="{{ Pdc.NumPdc }}" type="text" class="form-control" id="bnr" name="pdcEdit" placeholder="name@example.com">
                                <label for="bnr">Numéro de la ligne de PDC</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input value="{{ Pdc.montantPdc }}" type="number" step="0.01" min="0" class="form-control" id="montant" name="montantEdit" placeholder="name@example.com">
                                <label for="montant">Montant</label>
                            </div>
                            <select class="form-select mb-3" aria-label="Default select example" name="statutEdit">
                                <option selected value="{{ Pdc.IdStatutPdc.IdStatutPdc }}">{{ Pdc.IdStatutPdc.statutPdc }}</option>
                                {% for Statut in Statuts %}
                                    <option value="{{ Statut.idStatutPdc }}">{{ Statut.StatutPdc }}</option>
                                {% endfor %}
                            </select>
                            <select class="form-select mb-3" aria-label="Default select example" name="etatEdit">
                                <option selected>État de la ligne de PDC</option>
                                <option selected value="{{ Pdc.idEtatPdc.idEtatPdc }}">{{ Pdc.idEtatPdc.EtatPdc }}</option>
                                {% for Etat in Etats %}
                                    <option value="{{ Etat.idEtatPdc }}">{{ Etat.EtatPdc }}</option>
                                {% endfor %}
                            </select>
                            <select class="form-select mb-3" aria-label="Default select example" name="grandCompteEdit" autocomplete="off">
                                <option value="{{ Pdc.idGrandsComptes.idGrandsComptes}}" selected>{{ Pdc.idGrandsComptes.GrandsComptes}}</option>
                                {% for GrandCompte in GrandComptes %}
                                    <option value="{{ GrandCompte.idGrandsComptes }}">{{ GrandCompte.GrandsComptes }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <input form="pdcFormEdit{{ Pdc.idPdc }}" type="hidden" id="_token" name="_token" value={{ csrf_token ('EditPdc')}}>
                        <input form="pdcFormEdit{{ Pdc.idPdc }}" type="hidden" name="idEdit" value="{{ Pdc.idPdc }}">
                        <button form="pdcFormEdit{{ Pdc.idPdc }}" type="submit" id="submitEdit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modalEdit1{{ Pdc.idPdc }}">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>