

<div class="card col-4">
    <div class="card-body Entity-card">
        <h3 class="card-title">
            {{ Bnr.idAffaire.objectifAffaire }}
            <div class="form-check" style="font-size: larger">
                <label for="checkbox{{ Bnr.idAffaire.idAffaire }}"></label>
                <input form="bnrFormDelete" class="form-check-input checkboxAffaire" name="idChecked{{ Bnr.idAffaire.idAffaire }}" type="checkbox" value="{{ Bnr.idAffaire.idAffaire }}" id="checkbox{{ Bnr.idAffaire.idAffaire }}">
            </div>
        </h3>
        <h4 class="card-subtitle mb-2 text-muted">{{ Bnr.idAffaire.montantAffaire|number_format(0, '.', ' ') }} €</h4>
        <p class="card-text">
            <span class="label">Échéances :</span>
            {{ Bnr.idAffaire.echeanceAffaire|date('d/m/Y')}}
            <br>
            <span class="label">Organisme(s) :</span>
            <br>
            {% for Orga in Bnr.idAffaire.idOrganisme %}
                {{ Orga.Organisme }} - {{ Orga.idQuartier.trigramme }};
            {% endfor %}
            <br>
            <span class="label">Impact de non-réalisation :</span>
            <br>
            {{ Bnr.impact }}
            <br>
        </p>
        <div class="collapse" id="collapseCard">
            <p class="info">
                <span class="label">Priorisation :</span>
                {{ Bnr.idAffaire.idPriorisation.priorisation }}
                <br>
                <span class="label">Grand compte :</span>
                {{ Bnr.idAffaire.idGrandsComptes.grandsComptes }}
                <br>
                <span class="label">FEB :</span>
                {{ Bnr.idAffaire.idFeb.numFeb }}
                <br>
                <span class="label">Info sur le montant : </span>
                {{ Bnr.montantInfo }}
                <br>
                <span class="label">Date de demande :</span>
                {{ Bnr.dateDemande|date('d/m/Y') }}
                <br>
                <span class="label">État :</span>
                {% if Bnr.idAffaire.etatAffaire == '1' %}
                    Prévu
                {% else %}
                    Traité
                {% endif %}
                <br>
                <span class="label">Commentaire :</span>
                <br>
                {{ Bnr.idAffaire.commentaire|nl2br }}
            </p>
        </div>
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCard" aria-expanded="false" aria-controls="collapseCard">
            Voir plus <i class="far fa-eye"></i>
        </button>
        <!-- Button trigger modal edit -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalEdit1{{ Bnr.idAffaire.idAffaire }}">
            Modifier <i class="fas fa-edit"></i>
        </button>
    </div>
</div>

<!-- Modal edit-->
<div class="modal fade" id="modalEdit1{{ Bnr.idAffaire.idAffaire }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Modifier</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="bnrFormEdit{{ Bnr.idAffaire.idAffaire }}" class="bnrFormEdit" action="{{ path ('Admin_Bnr_Edit', {id: Bnr.idAffaire.idAffaire })}}" method="post">
                <div class="modal-body">
                    <div class="container mt-4">


                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="_token" name="_token" value={{ csrf_token ('EditAffaire')}}>
                    <input type="hidden" name="idEdit" value="{{ Bnr.idAffaire.idAffaire }}">
                    <button type="submit" id="submitEdit" class="btn btn-primary" data-bs-target="#modalEdit2" data-bs-toggle="modal" data-bs-dismiss="modalEdit1{{ Bnr.idAffaire.idAffaire }}">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>