{% extends 'base.html.twig' %}

{% block title %}OSLO | Administration des contact{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('cards') }}
{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}

    <h1 class="mainTitle">Tableau de bord des contacts</h1>
    <div class="container js-Ajax">
        <div class="col mb-2">
            <a href="{{ path ('Admin') }}" class="btn btn-outline-secondary">Retour <i class="fas fa-chevron-left"></i></a>
        </div>

        <button class="btn btn-outline-success mb-4" data-bs-target="#modalContact1" data-bs-toggle="modal">Importer les contacts depuis un csv <i class="fas fa-file-import"></i></button>

        <!-- first modal import database -->
        <div class="modal fade" id="modalContact1" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Attention ! <i class="fas fa-exclamation-triangle"></i></h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="importContact" action="{{ path ('importContact')}}" method="post" class="js-Ajax-form" enctype="multipart/form-data">
                        <div class="modal-body">
                            <h4>Vous vous apprêtez à modifier la base de données.
                                Assurez vous d'avoir un fichier CSV conforme.
                            </h4>
                            <input type="file"  id="file" name="file" style="font-size: medium" accept=".csv">
                        </div>
                        <div class="modal-footer">
                            <!-- close first modal -->
                            <button type="submit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modalContact1"><i class="fas fa-check"></i> Ok</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            {# card Contact bdd #}
            <div class="col-lg-3 col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-id-card"></i> Contacts bases de défense</h5>
                        <p class="card-text">Il y a actuellement {{ nbContactBdd}} contacts de bases de défense enregistrés</p>
                        <a href="{{ path ('Admin_ContactBdd') }}" class="btn btn-outline-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            {# /card Contact bdd #}
            {# card Contact cirisi#}
            <div class="col-lg-3 col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-id-card"></i> Contacts CIRISI</h5>
                        <p class="card-text">Il y a actuellement {{ nbContactCirisi }} contacts de CIRISI enregistrés</p>
                        <a href="{{ path ('Admin_ContactCirisi') }}" class="btn btn-outline-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            {# /card Contact cirisi #}
            {# card Contact#}
            <div class="col-lg-3 col-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><i class="fas fa-id-card"></i> Contact</h5>
                        <p class="card-text">Il y a actuellement {{ nbContact }} contacts enregistrés</p>
                        <a href="{{ path ('Admin_Contact') }}" class="btn btn-outline-primary">Voir plus</a>
                    </div>
                </div>
            </div>
            {# /card Contact #}
        </div>

        <!-- Second modal -->
        <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="loading">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div id="ajax-modal"></div>
                    </div>
                    <div class="modal-footer">
                        <!-- close second create -->
                        <button onclick="window.location.reload()" class="btn btn-primary js-modal-reset" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal2"><i class="fas fa-check"></i> Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}