
<div class="col-6" id="entity-{{ InternetMilitaire.idInternetMilitaire }}">
    <div class="card">
        <div class="card-body Entity-card">
            <div class="card-content">
                <h3 class="card-title">
                    {{ InternetMilitaire.MasterId }}
                    <div class="form-check" style="font-size: larger">
                        <label for="checkbox{{ InternetMilitaire.idInternetMilitaire }}"></label>
                        <input form="bnrFormDelete" class="form-check-input checkboxAffaire" name="idChecked{{ InternetMilitaire.idInternetMilitaire }}" type="checkbox" value="{{ InternetMilitaire.idInternetMilitaire }}" id="checkbox{{ InternetMilitaire.idInternetMilitaire }}">
                    </div>
                </h3>
                <h4 class="card-subtitle mb-2 text-muted">
                    {% if InternetMilitaire.debitInternetMilitaire != '' %}
                        {{ InternetMilitaire.debitInternetMilitaire }}
                    {% else %}
                        Pas de débit renseigné
                    {% endif %}
                </h4>
                <p class="card-text">
                    <span class="label">Support :</span>
                    {{ InternetMilitaire.idSupport.support }}
                    <br>
                    <span class="label">Ip lan subnet :</span>
                    {{ InternetMilitaire.ipLanSubnet }}
                    <br>
                    <span class="label">Organisme :</span>
                    {{ InternetMilitaire.idOrganisme.Organisme }} - {{ InternetMilitaire.idOrganisme.idQuartier.idbaseDefense.baseDefense }} - {{ InternetMilitaire.idOrganisme.idQuartier.trigramme }}
                    <br>
                    <span class="label">Ip Pfs :</span>
                    {{ InternetMilitaire.ipPfs }}
                    <br>
                </p>
                <div class="collapse" id="collapseCard{{ InternetMilitaire.idInternetMilitaire }}">
                    <p class="info">


                        <span class="label">État :</span>
                        {% if InternetMilitaire.etatInternetMilitaire == 1 %}
                            Prévu
                        {% else %}
                            Traité
                        {% endif %}
                        <br>
                        <span class="label">Commentaire :</span>
                        <br>
                        {{ InternetMilitaire.commentaire }}
                        <br>

                    </p>
                </div>
            </div>
            <button class="btn btn-outline-primary collapseBtn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCard{{ InternetMilitaire.idInternetMilitaire }}" aria-expanded="false" aria-controls="collapseCard">
                Voir plus <i class="far fa-eye"></i>
            </button>
            <!-- Button trigger modal edit -->
            <button type="button" class="btn btn-outline-primary collapseBtn" data-bs-toggle="modal" data-bs-target="#modalEdit{{ InternetMilitaire.idInternetMilitaire }}">
                Modifier <i class="fas fa-edit"></i>
            </button>
        </div>
    </div>

    <!-- Modal edit-->
    <div class="modal fade" id="modalEdit{{ InternetMilitaire.idInternetMilitaire }}" data-bs-focus="true" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="modalLabel">Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="bnrFormEdit{{ InternetMilitaire.idInternetMilitaire }}" action="{{ path ('Admin_InternetMilitaire_Edit', {id: InternetMilitaire.idInternetMilitaire })}}" method="post" class="js-Ajax-form">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input value="{{ InternetMilitaire.masterId }}" type="text" class="form-control" id="masterId" name="masterIdEdit" placeholder="name@example.com">
                                    <label for="masterId">Master ID</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input value="{{ InternetMilitaire.debitInternetMilitaire }}" type="text" class="form-control" id="debit" name="DebitEdit" placeholder="name@example.com">
                                    <label for="debit">Débit</label>
                                </div>
                            </div>
                        </div>
                        <select class="form-select mb-3" aria-label="Default select example" name="orgaEdit" autocomplete="off">
                            <option value="{{ InternetMilitaire.idOrganisme.idOrganisme }}" selected>
                                {{ InternetMilitaire.idOrganisme.Organisme }} - {{ InternetMilitaire.idOrganisme.idQuartier.idbaseDefense.baseDefense }} - {{ InternetMilitaire.idOrganisme.idQuartier.trigramme }}
                            </option>
                            {% for Organisme in Organismes %}
                                <option value="{{ Organisme.idOrganisme }}">{{ Organisme.Organisme }} - {{ Organisme.idQuartier.idbaseDefense.baseDefense }} - {{ Organisme.idQuartier.trigramme }}</option>
                            {% endfor %}
                        </select>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="supportEdit" autocomplete="off">
                                    <option value="{{ InternetMilitaire.idSupport.idSupportInternetMilitaire }}" selected>{{ InternetMilitaire.idSupport.support }}</option>
                                    {% for Support in Supports %}
                                        <option value="{{ Support.idSupportInternetMilitaire }}">{{ Support.support }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="etatEdit" autocomplete="off">
                                    {% if InternetMilitaire.etatInternetMilitaire == 1 %}
                                        <option value="{{ InternetMilitaire.etatInternetMilitaire }}" selected>Prévu</option>
                                    {% else %}
                                        <option value="{{ InternetMilitaire.etatInternetMilitaire }}" selected>Traité</option>
                                    {% endif %}
                                    <option value="1">Prévu</option>
                                    <option value="2">Traité</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input value="{{ InternetMilitaire.ipPfs }}" type="text" class="form-control" id="ipPfs" name="ipPfsEdit" placeholder="name@example.com">
                                    <label for="ipPfs">Ip Pfs</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input value="{{ InternetMilitaire.ipLanSubnet }}" type="text" class="form-control" id="ipLanSubnet" name="ipLanSubnetEdit" placeholder="name@example.com">
                                    <label for="ipLanSubnet">Ip lan subnet</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="commentEdit" style="height: 100px">{{ InternetMilitaire.commentaire }}</textarea>
                            <label for="floatingTextarea2">Commentaire</label>
                        </div>
                    </form>
                </div>
                    <div class="modal-footer">
                        <!-- send request-->
                        <input form="bnrFormEdit{{ InternetMilitaire.idInternetMilitaire }}" type="hidden" id="_token" name="_token" value={{ csrf_token ('EditInternetMilitaire')}}>
                        <input form="bnrFormEdit{{ InternetMilitaire.idInternetMilitaire }}" type="hidden" name="idEdit" value="{{ InternetMilitaire.idInternetMilitaire }}">
                        <button form="bnrFormEdit{{ InternetMilitaire.idInternetMilitaire }}" type="submit" id="submitEdit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modalEdit{{ InternetMilitaire.idInternetMilitaire }}">Enregistrer</button>
                    </div>
            </div>
        </div>
    </div>
</div>
