{% extends 'gestion/gestionEntity.html.twig' %}

{% block styleGestionEntity %}
    {{ encore_entry_link_tags('gestionEntity') }}
    {{ encore_entry_link_tags('cards') }}
{% endblock %}

{% block javascriptGestionEntity %}

{% endblock %}

{% block FormFilterGestionEntity %}
    {% include 'gestion/internetMilitaire/formFilterInternetMilitaire.html.twig' with {Quartiers: Quartiers, Organismes: Organismes, form: form} only %}
{% endblock %}

{% block ContentGestionEntity %}

    <div class="js-filter-sorting sorting">
        {% include 'gestion/internetMilitaire/_sorting.html.twig' %}
    </div>

    <div class="row">
        <div class="js-filter-content row">
            {% include 'gestion/internetMilitaire/_content.html.twig' %}
        </div>
    </div>

    {# display navigation #}
    <div class="navigation js-filter-pagination">
        {% include 'gestion/internetMilitaire/_pagination.html.twig'%}
    </div>

    <!-- Modals new internetMilitaire-->
    <!-- First modal dialog create-->
    <div class="modal fade" id="modal" data-bs-focus="true" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="modalLabel">Nouveau {{ title }} :</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="internetMilitaireFormCreate" action="{{ path ('Admin_InternetMilitaire_New')}}" method="post" class="js-Ajax-form">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="masterId" name="masterId" placeholder="name@example.com">
                            <label for="masterId">Master ID</label>
                        </div>
                        <select class="form-select mb-3" aria-label="Default select example" name="orga" autocomplete="off">
                            <option selected>Organisme bénéficiaire</option>
                            {% for Organisme in Organismes %}
                                <option value="{{ Organisme.idOrganisme }}">{{ Organisme.Organisme }} - {{ Organisme.idQuartier.idbaseDefense.baseDefense }} - {{ Organisme.idQuartier.trigramme }}</option>
                            {% endfor %}
                        </select>
                        <div class="row">
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="type" autocomplete="off">
                                    <option selected>Type</option>
                                    <option value="1">Cuivre</option>
                                    <option value="2">Fibre</option>
                                </select>
                            </div>
                            <div class="col-6">
                                <select class="form-select mb-3" aria-label="Default select example" name="etat" autocomplete="off">
                                    <option selected>État</option>
                                    <option value="1">Prévu</option>
                                    <option value="2">Traité</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="ipPfs" name="ipPfs" placeholder="name@example.com">
                                    <label for="ipPfs">Ip Pfs</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="ipLanSubnet" name="ipLanSubnet" placeholder="name@example.com">
                                    <label for="ipLanSubnet">Ip lan subnet</label>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3 date datepicker">
                            <input type="text" class="form-control" placeholder="Date de validation" aria-label="datepicker" aria-describedby="basic-addon1" name="date" autocomplete="off"><span class="input-group-addon"></span>
                            <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" name="comment" style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Commentaire</label>
                        </div>

                        <input type="hidden" id="_token" name="_token" value={{ csrf_token ('CreateInternetMilitaire')}}>
                    </form>
                </div>
                <div class="modal-footer">
                    <!-- send request-->
                    <button form="internetMilitaireFormCreate" type="submit" id="submit" class="btn btn-primary" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modal">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    {#modal delete InternetMilitaire#}
    <!-- Modal delete-->
    <div class="modal fade" id="modalDelete1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Modifier</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container mt-4">
                        <div class="input-group mb-3">
                            <h2>Attention ! Cette action est irréversible.</h2>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <form id="bnrFormDelete" action="{{ path ('Admin_InternetMilitaire_Delete')}}" method="post" class="js-Ajax-form">
                        <input type="hidden" id="_token" name="_token" value={{ csrf_token ('DeleteInternetMilitaire')}}>
                        <button class="btn btn-danger" data-bs-target="#modal2" data-bs-toggle="modal" data-bs-dismiss="modalDelete1">
                            Confirmer <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include 'gestion/_secondModal.html.twig' %}

{% endblock %}