{% extends 'sidenav.html.twig' %}

{% block titleSidenav %}

{% endblock %}

{% block stylesheetsSidenav %}
    {{ encore_entry_link_tags('sidenav') }}
    {% block styleSheetsGestion %}

    {% endblock %}
{% endblock %}

{% block javascriptsSidenav %}

{% endblock %}

{% block sideNav %}
    <li class="sideNavItem">
        <a href="{{ path ('Gestion', {role: role})}}" class="">Accueil {{ role }}</a>
    </li>

    {% if role != 'BCS' %}
        <li class="sideNavItem">
            <a href="{{ path ('contactCirisi') }}" class="">{{ sigles['besoinNouveauReseau'] }}</a>
        </li>
        <li class="sideNavItem">
            <a href="{{ path ('contactCirisi') }}" class="">{{ sigles['modifLan'] }}</a>
        </li>
    {% endif %}
    {% if role != 'BPT' %}
        <li class="sideNavItem">
            <a href="{{ path ('contactBdd') }}" class="">{{ sigles['internet_militaire'] }}</a>
        </li>
        <li class="sideNavItem">
            <a href="{{ path ('contactBdd') }}" class="">{{ sigles['accesWan'] }}</a>
        </li>
    {% endif %}

{% endblock %}


{% block body %}

{% endblock %}




