{% extends 'sidenav.html.twig' %}

{% block titleSidenav %}

{% endblock %}

{% block stylesheetsSidenav %}
    {{ encore_entry_link_tags('sidenav') }}
    {% block styleSheetsGestion %}

    {% endblock %}
{% endblock %}

{% block javascriptsSidenav %}

{% endblock %}

{% block sideNav %}
    <li class="sideNavItem">
        <a href="{{ path ('Gestion', {role: role})}}" class="">Accueil {{ role }}</a>
    </li>

    {% if role != 'BCS' %}
        <li class="sideNavItem">
            <a href="{{ path ('Pdc', {role: role})}}" class="">PDC</a>
        </li>
        <li class="sideNavItem">
            <a href="{{ path ('Feb', {role: role})}}" class="">FEB</a>
        </li>
        <li class="sideNavItem">
            <a href="{{ path ('Bnr', {role: role})}}" class="">{{ sigles['besoinNouveauReseau'] }}</a>
        </li>
        <li class="sideNavItem">
            <a href="{{ path ('Modip', {role: role})}}" class="">{{ sigles['modifLan'] }}</a>
        </li>
    {% endif %}
    {% if role != 'BPT' %}
        <li class="sideNavItem">
            <a href="{{ path ('InternetMilitaire', {role: role})}}" class="">{{ sigles['internet_militaire'] }}</a>
        </li>
        <li class="sideNavItem">
            <a href="{{ path ('AccesWan', {role: role})}}" class="">{{ sigles['accesWan'] }}</a>
        </li>
    {% endif %}
    <li class="sideNavItem">
        <a href="{{ path ('Affaire', {role: role})}}" class="">Toutes les affaires</a>
    </li>

{% endblock %}

{% block body %}

{% endblock %}




